.header {
  color: $white;
  background: linear-gradient(lighten($primary, 10%), $primary);

  padding-top: 10px;
  padding-bottom: 10px;
}

.header__menu {
  > li > a {
    border-radius: 50px;
    margin-right: 10px;

    &:hover {
      background: rgba($white, 0.1);
    }
  }

  > li.active > a {
    background-color: transparent;
    border: 1px solid $white;
  }
}
