.dragover {
  position: relative;

  &::after {
    content: 'Drop your files here!';
    display: block;
    color: $black;
    border: 3px dashed $grey-dark;
    background-color: $grey-light;

    font-size: rem-calc(20);

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}
