$_scroller-size: 6px;

.scroller {
  overflow: auto;
  max-height: 100%;

  &::-webkit-scrollbar {
    width: $_scroller-size;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: $grey-light;
  }

  &::-webkit-scrollbar-thumb:horizontal,
  &::-webkit-scrollbar-thumb:vertical {
    border-radius: $_scroller-size;
    background-color: $grey-dark;
  }
}
