<div class="chat__messages">
  <div
    class="scroller"
    on-change-scroll-down="chat.data.messages"
  >
    <ul class="u-space-inside u-list-unstyle">
      <li
        class="message"
        ng-repeat="message in chat.data.messages track by $index"
        ng-class="{'is-mine': message.isMine}"
      >
        <img
          class="message__avatar avatar u-img-32"
          ng-src="{{message.participant.avatar + message.participant.name}}"
          alt="{{message.participant.name}}"
          title="{{message.participant.name}}"
        >
        <div class="message__content">
          <span
            ng-if="message.text"
            ng-bind="message.text"
          ></span>

          <img
            ng-if="message.image"
            ng-src="{{message.image}}"
          >
        </div>

      </li>
    </ul>
  </div>
</div>
<div
  class="chat__add"
  ngf-drop="chat.addImages($files)"
  ngf-multiple="true"
  ngf-pattern="'image/*'"
  ngf-drag-over-class="'dragover'"
  ng-disabled="!chat.data.isActive"
>
  <div class="input-group u-space-ver-undo">
    <textarea
      class="scroller chat__textfield input-group-field"
      placeholder="Type your message ..."
      ng-disabled="!chat.data.isActive"
      ng-model="chat.addTextField"
      on-enter="chat.viewAddText();"
    ></textarea>

    <div class="input-group-button">
      <button
        class="button default"
        ngf-select="chat.addImages($files)"
        ngf-multiple="true"
        ngf-pattern="'image/*'"
        ng-disabled="!chat.data.isActive"
      >
        <i class="ion-android-attach u-icon-20"></i>
      </button>
    </div>

    <div class="input-group-button">
      <button
        class="button"
        ng-disabled="!chat.data.isActive"
        ng-click="chat.viewAddText();"
      >
        <i class="ion-android-send u-icon-20"></i>
      </button>
    </div>
  </div>
</div>
