<div class="column medium-3">
  <div class="sidebar scroller">
    <ul class="list">
      <li
        ui-sref-active
        ng-repeat="chat in chats.list track by $index"
      >
        <a
          class="u-block"
          ui-sref="chats.item({id: chat.id})"
        >
          <div class="avatars-group u-space-ver-small">
            <img
              class="avatar"
              ng-repeat="participant in chat.participants track by $index"
              ng-src="{{participant.avatar + participant.name}}"
              ng-alt="{{participant.name}}"
              width="32"
            >
          </div>
          <p
            class="u-black u-space-ver-undo"
            ng-bind="chat.lastMessage"
          ></p>
          <time class="time">
            <i class="ion-clock"></i> {{chat.lastActive | timeAgo}}
          </time>
        </a>
      </li>
    </ul>
    <div class="sidebar__footer text-center">
      <button
        class="button"
        ng-click="chats.loadList()"
      >Load more!</button>
    </div>
  </div>
</div>

<div
  class="column medium-9"
  ui-view
></div>
