.u-space-ver-undo {
  margin-bottom: 0;
}

.u-space-ver-small {
  margin-bottom: $global-margin / 2;
}

.u-space-ver {
  margin-bottom: $global-margin;
}

.u-space-ver-large {
  margin-bottom: $global-margin * 2;
}

// Inside space === Padding
.u-space-inside {
  padding: $global-margin;
}
