$white: #fff;

$silver: #f3f6f8;
$silver-light: lighten($silver, 2%);
$silver-dark: darken($silver, 3%);

$grey: #b6b4Ca;
$grey-light: lighten($grey, 5%);
$grey-dark: darken($grey, 5%);

$black: #333;

$primary: #50bee8;
$success: #1fb36b;
$warning: #ffa800;
$alert: #e63f2b;
$info: $primary;

$font-family-sans: 'Open Sans', Helvetica, Arial, sans-serif;
